::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: var(--main-background) }
::-webkit-scrollbar-thumb { 
    background: rgb(200, 200, 200);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover { background: rgb(170, 170, 170); }

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes loading-shine {
  to { transform: translateX(50%) skewX(-20deg); }
}

.fade-bg {
    transition: opacity 0.5s ease;
}

.fade-bg.hidden {
    opacity: 0;
}

.grid {
  position: fixed;
  inset: 0;
  background-image: 
    linear-gradient(to right, var(--grid-vertical-lane) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-horizontal-lane) 1px, transparent 1px);
  background-size: 32px 32px;
  mask-image: radial-gradient(
    ellipse 60% 60% at 50% 50%,
    #000 60%,
    transparent 100%
  );
  mask-size: cover;
  mask-repeat: no-repeat;
  pointer-events: none;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

.fade-text {
    transition: color 0.5s ease;
    color: var(--text-color);
}

.fade-text.hidden {
    color: transparent;
}

.text-loading {
    background-color: var(--secondary-background);
    border-radius: 2em;
    color: transparent;
}

.image-loading { background-color: var(--secondary-background); }

.text-loading, .image-loading {
    position: relative;
    overflow: hidden;
    isolation: isolate;

    --shine-duration: 1.5s;
    --shine-opacity: .35;
    --shine-angle: 120deg;
    --shine-thickness: 50px;
}

.text-loading::after,
.image-loading::after {
    content: "";
    position: absolute;
    inset: -30% -50%;
    border-radius: inherit;

    background:
        linear-gradient(
            var(--shine-angle),
            rgba(255,255,255,0) calc(50% - (var(--shine-thickness) / 2)),
            rgba(255,255,255,var(--shine-opacity)) 50%,
            rgba(255,255,255,0) calc(50% + (var(--shine-thickness) / 2))
        );

    transform: translateX(-50%) skewX(-20deg);
    animation: loading-shine var(--shine-duration) ease-in-out infinite;
    pointer-events: none;
    will-change: transform;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  overflow-x: hidden;
}

* {
    transition: background-color 0.25s ease;
}

body {
    background-color: var(--secondary-background);
    margin: 0;
    padding: 0;
    font-family: "Oxanium", sans-serif;
    color: var(--text-color);
    min-width: 0;
}

#theme-and-settings {
    display: flex;
}

#theme-and-settings-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

#language {
  background-image: url(../images/lang_hu.webp);
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  width: 30px;
  display: block;
  transition: opacity 0.2s ease-in-out;
  transition: 0.2s;
  opacity: 1;
  margin-right: 1em;
  margin-left: .5em;
}

#language-mobile {
  background-image: url(../images/lang_hu.webp);
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  width: 30px;
  display: block;
  transition: opacity 0.2s ease-in-out;
  transition: 0.2s;
  opacity: 1;
  margin-right: 1em;
  margin-left: .5em;
}

#language:hover {
    width: 35px;
    height: 35px;
}

#theme-switcher, #language {
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#theme-switcher-mobile, #language-mobile {
    height: 40px;
    width: 40px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#theme-switcher {
    background-image: var(--theme-switcher-icon);
    background-size: 100%;
    margin-right: 0em;
    margin-left: 1em;
    transition: 0.2s;
}

#theme-switcher-mobile {
    background-image: var(--theme-switcher-icon);
    background-size: 100%;
    margin-right: 0em;
    margin-left: 1em;
    transition: 0.2s;
}

#theme-switcher:hover {
    width: 35px;
    height: 35px;
}

#settings-mobile {
    background-image: var(--dropdown-icon);
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    transition: 0.5s;
}

#settings-mobile.dropdown-menu-up {
    background-image: var(--dropdown-icon);
    background-size: contain;
}

#settings-mobile.dropdown-menu-down {
    background-image: var(--dropdown-close-icon);
    background-size: 90%;
}

#dropdown-menu {
    border-bottom: 1px solid var(--global-border);
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    background-color: color-mix(in srgb, var(--main-background) 90%, transparent);

    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    pointer-events: none;

    transition:
        transform 400ms ease,
        opacity   300ms ease;
}

#dropdown-menu.dropdown-menu-down {
    transform: scaleY(1);
    opacity: 1;
    pointer-events: auto;
}

.dropdown-menu-button {
    font-family: "Oxanium", sans-serif;
    font-size: 1.3em;
    color: var(--text-color);
    text-decoration: none;
    padding: 0.9em;
}

#dropdown-menu-icons {
    /* height: 2em; */
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#container {
    background-color: var(--main-background);
    width: 90%;
    height: 420px;
    border-radius: 25px;
    max-width: 500px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    border: 1px solid var(--global-border);
}  

#logo {
    width: 55%;
    background-image: var(--speedruns-logo);
    aspect-ratio: 1145 / 270;
    background-position: center;
    background-size: cover;
    margin: 1.5rem 0 1.3rem 0;
}

input {
    width: 90%;
    background-color: var(--secondary-background);
    border: none;
    height: 65px;
    font-size: 1.3rem;
    color: var(--text-color);
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 15px;
    box-sizing: border-box;
    border: 1px solid var(--global-border);
}

input:focus {
    border: 2px solid green;
    outline: none;
}

#google-login {
    width: 90%;
    height: 65px;
    padding: 0.5rem;
    padding-left: 16px;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: var(--secondary-background);
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--global-border);
}

#google-logo {
    width: 32px;
    height: 32px;
    background-image: url(../images/google_logo.png);
    background-position: center;
    background-size: cover;
}

#google-text {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}

#create-account {
    cursor: pointer;
}

#create-account:hover {
    text-decoration: underline;
}

@media (min-width: 470px) {
    #theme-and-settings { gap: 1rem; }
    #language, #theme-switcher {
        display: none;
    }

    
}

@media (min-width: 768px) {
    #language, #theme-switcher {
        display: none;
    }

    #container {
        width: 70%;
    }
}

@media (min-width: 1380px) {
}